<!--Background con el grid de base y un height porque no se mantenia el tamano completo de la imagen-->
<div class="background-full-page base-grid" style="height: 55em;">
  <div class="grid-column ">
    <div class="grid">
      <div class="grid-row-10 grid-div-display-flex-center" style="margin-left: 1em;">
        <!--Link para abrir la aplicacion de email con la cuenta de marco como sujeto-->
        <h2 class="font-weight-400"><a class="text-color-white" style="text-decoration: none;" href="mailto:marcosmanuelrb@gmail.com?Subject=Hello%20again">marcosmanuelrb@gmail.com</a></h2>
      </div>
      <div class="grid-row-12 text-color-white grid-div-display-flex-center">
        <!--Link para el isntagram de marco-->
        <h2 class="font-weight-400"><a class="text-color-white" target="_blank" style="text-decoration: none;" href="https://www.instagram.com/marcosrodriguezsr">@marcosrodriguezsr</a></h2>
      </div>
      <div class="grid-row-14 text-color-white grid-div-display-flex-center">
        <!--Link para abrir whatsapp y comunicarse con el numero de marco se coloca el numero con el coigo +58 y con el numero sin el 0 inicial-->
        <h2 class="font-weight-400"><a class="text-color-white font-type-breaksteel" target="_blank" style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=584126357860">+58 4126357860</a></h2>
      </div>
    </div>
  </div>
</div>