.background-full-page {
    background: url('/assets/images/contacto.png');
    /* Set rules to fill background */
    background-repeat:no-repeat, repeat;
    background-size:cover;
}

.text-color-white {
    color: white;
    letter-spacing: 0.1em;
}

.font-weight-400 {
    font-weight: 500;
}

.font-type-breaksteel { 
    font-family: breaksteel;
}

.grid-div-display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows: repeat(1, 1fr);
    
}

.grid-column {
    grid-column: 8/10;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows: repeat(30, 2em);
}

.grid-row-10 {
    grid-row: 18/19;
}

.grid-row-12 {
    grid-row: 21/22;
}

.grid-row-14 {
    grid-row: 24/25;
}



