<div class="background-full-page text-color-white">
  <div class="grid">
    <form
      class="grid-column"
      #form="ngForm"
      (ngSubmit)="login(form)"
      novalidate
    >
      <div class="base-grid ">
        <div class="grid-div-display-flex-center grid-row-6">
          <label class="font-size-2" for="name">User</label>
        </div>
        <div class="grid-div-display-flex-center grid-row-8">
          <input name="user" ngModel required #user="ngModel" />
        </div>
        <div class="grid-div-display-flex-center grid-row-10">
          <label class="font-size-2" for="password"
            >Password</label
          >
        </div>
        <div class="grid-div-display-flex-center grid-row-12">
          <input
            name="password"
            ngModel
            required
            #password="ngModel"
          />
        </div>
        <div class="grid-div-display-flex-center grid-row-14">
          <button class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
