/*Da el fondo a la pagina*/
.background-full-page {
    /*Url de la imagen local del proyecto*/
    background: url('/assets/images/fondo central.png');
    /*Indica si el fondo se repetira o es solo una vez*/
    background-repeat:no-repeat;
    /*Indica el tamano del background, cover indica que cubre todo el contenido*/
    background-size:100%;
}

.text-color-white {
    color: white;
}

.font-size-2 {
    font-size: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(22, 2em);
}

.grid-div-display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.grid-column {
    grid-column: 2/3;
}

.grid-row-6 {
    grid-row: 6/8;
}

.grid-row-8 {
    grid-row: 8/10;
}

.grid-row-10 {
    grid-row: 10/12;
}

.grid-row-12 {
    grid-row: 12/14;
}

.grid-row-14 {
    grid-row: 14/16;
}