<div class="background-full-page text-color-white">
  <div class="grid">
    <form
      class="grid-column"
      #form="ngForm"
      (ngSubmit)="login(form)"
      novalidate
    >
      <div class="base-grid ">
        <div class="grid-div-display-flex-center grid-row-9">
          <label style="font-size: 2em;" for="name">User</label>
        </div>
        <div class="grid-div-display-flex-center grid-row-11">
          <input class="" name="user" ngModel required #user="ngModel" />
        </div>
        <div class="grid-div-display-flex-center grid-row-13">
          <label style="font-size: 2em;" class="" for="password"
            >Password</label
          >
        </div>
        <div class="grid-div-display-flex-center grid-row-15">
          <input
            class=""
            name="password"
            ngModel
            required
            #password="ngModel"
          />
        </div>
        <div class="grid-div-display-flex-center grid-row-17">
          <button class="" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
