.background-full-page {
    background: url('/assets/images/fondo central.png');
    /* Set rules to fill background */
    background-repeat:no-repeat;
    background-size:100%;
}

.text-color-white {
    color: white;
}

.font-size-2 {
    font-size: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows: repeat(1, 1fr); /*27.75*/
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows: repeat(22, 2em);
}

.grid-div-display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.grid-column {
    grid-column: 2/3;
}

.grid-row-6 {
    grid-row: 6/8;
}

.grid-row-8 {
    grid-row: 8/10;
}

.grid-row-10 {
    grid-row: 10/12;
}

.grid-row-12 {
    grid-row: 12/14;
}

.grid-row-14 {
    grid-row: 14/16;
}