<!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar class="background-color-black" style="height: 5.5em;">
    <!--Titulo y/o logo de la aplicacion a la izquierda del navbar-->
    <span><img style="width: 7.2em; height: 4.5em;" src="assets/images/isotipo blanco.png"></span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <!--Estos son los elementos del navbar que van a la derecha-->
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/home"
        >Home</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/servicios"
        >Servicios</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/articulos"
        >Blog</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/portafolio"
        >Portafolio</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/contacto"
        >Contacto</a
      ></span
    >
  </mat-toolbar>
  <router-outlet></router-outlet>
  <footer class="page-footer background-color-black">
    <div class="grid-footer text-color-white" style="letter-spacing: 0.1em;">
      <div class="grid-div-display-flex-center grid-footer-column-2 grid-footer-row-2">
        <h2><a class="text-color-white font-weight-400" style="text-decoration: none;" href="mailto:someone@example.com?Subject=Hello%20again">marcosmanuelrb@gmail.com</a></h2>
      </div>
      <div class="grid-div-display-flex-center grid-footer-column-4 grid-footer-row-2">
        <h2><a class="text-color-white font-weight-400" target="_blank" style="text-decoration: none;" href="https://www.instagram.com/marcosrodriguezsr">@marcosrodriguezsr</a></h2>
      </div>
      <div class="grid-div-display-flex-center grid-footer-column-6 grid-footer-row-2">
        <h2><a class="text-color-white font-type-breaksteel font-weight-400" target="_blank" style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=584126357860">+58 4126357860</a></h2>
      </div>
    </div>
  </footer>
  

