
  <mat-toolbar class="background-color-black">
    <!--Titulo y/o logo de la aplicacion a la izquierda del navbar-->
    <span><img class="width-7-2 height-4-5" src="assets/images/isotipo blanco.png"></span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <!--Estos son los elementos del navbar que van a la derecha-->
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/home"
        >Home</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/servicios"
        >Servicios</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/articulos"
        >Blog</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/portafolio"
        >Portafolio</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/contacto"
        >Contacto</a
      ></span
    >
  </mat-toolbar>
  <router-outlet></router-outlet>
  <footer class="page-footer background-color-black">
    <div class="grid-footer text-color-white letter-spacing-0-1">
      <div class="grid-div-display-flex-center grid-footer-column-2 grid-footer-row-2">
        <i class="material-icons fa-2x margin-right-0-3">email</i>
        <h2><a class="text-color-white font-weight-400 text-decoration-none" href="mailto:marcosmanuelrb@gmail.com?Subject=Hello%20again">marcosmanuelrb@gmail.com</a></h2>
      </div>
      <div class="grid-div-display-flex-center grid-footer-column-4 grid-footer-row-2">
        <i class="fab fa-instagram-square fa-2x margin-right-0-3"></i>
        <h2><a class="text-color-white font-weight-400 text-decoration-none" target="_blank" href="https://www.instagram.com/marcosrodriguezsr">@marcosrodriguezsr</a></h2>
      </div>
      <div class="grid-div-display-flex-center grid-footer-column-6 grid-footer-row-2">
        <i class="fab fa-whatsapp-square fa-2x margin-right-0-3"></i>
        <h4><a class="text-color-white font-type-breaksteel font-weight-400 text-decoration-none" target="_blank" href="https://api.whatsapp.com/send?phone=584126357860">+58 4126357860</a></h4>
      </div>
    </div>
  </footer>
  

