<!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar class="background-color-black" style="height: 5.5em;">
    <!--Titulo y/o logo de la aplicacion a la izquierda del navbar-->
    <span><img style="width: 7.2em; height: 4.5em;" src="assets/images/isotipo blanco.png"></span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <!--Estos son los elementos del navbar que van a la derecha-->
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/home"
        >Home</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/servicios"
        >Servicios</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/articulos"
        >Blog</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/portafolio"
        >Portafolio</a
      ></span
    >
    <span
      ><a
        class="text-color-white navbar-link-font-size navbar-link-underline-remove navbar-link-margin-right font-type-cross-town font-color-white"
        routerLink="/home"
        >Contacto</a
      ></span
    >
  </mat-toolbar>
  <router-outlet></router-outlet>
  <footer class="page-footer background-color-black">
    <div class="grid text-color-white" style="letter-spacing: 0.1em;">
      <div class="grid-div-display-flex-center grid-footer-title-row grid-footer-column-2">
        <h1>Marco's</h1>
      </div>
      <div class="grid-div-display-flex-center grid-footer-subTitle-row grid-footer-column-2">
        <h3>Community Manager</h3>
      </div>
      <div class="grid-div-display-flex-center grid-footer-first-data-row grid-footer-column-2 font-type-breaksteel">
        <p>+58 4143678978</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-second-data-row grid-footer-column-2">
        <p>marco@gmail.com</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-third-data-row grid-footer-column-2">
        <p>Instagram</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-fourth-data-row grid-footer-column-2">
        <p>Twitter</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-title-row grid-footer-column-3">
        <h1>Juan</h1>
      </div>
      <div class="grid-div-display-flex-center grid-footer-subTitle-row grid-footer-column-3">
        <h3>Designer</h3>
      </div>
      <div class="grid-div-display-flex-center grid-footer-first-data-row grid-footer-column-3 font-type-breaksteel">
        <p>+58 4143678978</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-second-data-row grid-footer-column-3">
        <p>marco@gmail.com</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-third-data-row grid-footer-column-3">
        <p>Instagram</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-fourth-data-row grid-footer-column-3">
        <p>Twitter</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-fifth-data-row grid-footer-column-3">
        <p>Web page</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-title-row grid-footer-column-4">
        <h1>The Great South</h1>
      </div>
      <div class="grid-div-display-flex-center grid-footer-subTitle-row grid-footer-column-4">
        <h3>Developer</h3>
      </div>
      <div class="grid-div-display-flex-center grid-footer-first-data-row grid-footer-column-4 font-type-breaksteel">
        <p>+58 4143678978</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-second-data-row grid-footer-column-4">
        <p>marco@gmail.com</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-third-data-row grid-footer-column-4">
        <p>Instagram</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-fourth-data-row grid-footer-column-4">
        <p>Twitter</p>
      </div>
      <div class="grid-div-display-flex-center grid-footer-fifth-data-row grid-footer-column-4">
        <p>Web page</p>
      </div>
    </div>
  </footer>
  

