.black{
    background-color: rgb(15,15,15)
}

.white {
    background-color: rgb(255,255,255)
}

.background-image{
    background: url('/assets/images/fondo central.png');
    background-repeat: repeat;
    background-size: contain;
}


.base-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    
}


.grid-page-content {
    grid-column: 2 / 12
}

