/*Nivel de negrita de las letras*/
.font-weight-400 {
    font-weight: 400;
}

/*Font de tamano 1.5 em*/
.font-size-1-5 {
    font-size: 1.5em;
}

/*Font de tamano 5 em*/
.font-size-5 {
    font-size: 5em;
}

/*altura de 4 em*/
.min-height-4em {
    height: 4em;
}

/*Da el fondo a la pagina*/
.background-full-page {
    /*Url de la imagen local del proyecto, una despues de la otra los numeros al final implican el primero que tanto a la derecha se meuve la imagen
    y el otro que tanto hacia abajo se mueve la imagen*/
    background: url('/assets/images/portada.jpg'), url('/assets/images/fondo central.png') 0 53.3em;
    /*El primero indica que la primera imagen no se repite, el segundo que la segunda si*/
    background-repeat:no-repeat, repeat;
    /*Wue contiene todo el contenido del div*/
    background-size:contain;
  }
  

/*Liena de separacion entre las partes*/
.hr-divider { 
    display: block;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.1em;
    width:83em;
}

/*Las imagenes del home de los articulos*/
.image-portafolio {
    height: 20em;
    width: 25em;
}

/*Las imagenes del home de los articulos*/
.image-blog {
    height: 30em;
    width: 35em;
}

/*Sistema grid base*/
.base-grid {
    /*Indica que se usara el grid*/
    display: grid;
    /*Numero de columnas que tendra el grid y su tamano, 1 fr que indica todo el espacio disponible se divide en 12 partes por igual*/
    grid-template-columns: repeat(12, 1fr); 
    /*Numero de filas que tendra el grid y su tamano, 1 fr que idnica el espacio disponible se dividira en 1 fila*/
    grid-template-rows: repeat(1, 1fr);
    
}


.grid-page-content {
    grid-column: 2 / 12
}

.grid {
    /*Indica que se usara el grid*/
    display: grid;
    /*Numero de columnas que tendra el grid y su tamano, 1 fr que indica todo el espacio disponible se divide en 3 partes por igual*/
    grid-template-columns: repeat(3, 1fr); 
    /*Numero de filas que tendra el grid y su tamano, 2 em que indica el espacio disponible sera de 2em por el numero 70*/
    grid-template-rows: repeat(70, 2em);
     
}

/*Centra todo horizontalmente y verticalmente*/
.grid-div-display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

/*Si colocas en el grid-column-end: -1 te da el ultimo valor posible dada la cantidad de tus columnas*/
/*Si colocas en el grid-column-end: span 2, esto indica que ocuparia el espacio de 2 columnas desde la posicion dada en el grid-column-start*/
.grid-div-first-words {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 8 / 12;
}

.grid-div-divider-first-words {
    grid-row: 21/ 23;
    grid-column: 1 / -1;
}

.grid-div-header-portafolio {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 25 / 28;
}

.grid-div-images-portafolio {
    grid-row: 32 / 36;
}

.grid-div-button-portafolio {
    grid-row: 42 / 44;
    grid-column: 1 / -1;
}

.grid-div-divider-portafolio {
    grid-row: 46 / 48;
    grid-column: 1 / -1;
}

.grid-div-header-blog {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 50 / 54;
}

.grid-div-image-blog {
    grid-column: 1 / -1;
    grid-row: 59 / 65;
}

.grid-div-button-blog {
    grid-row: 71 / 73;
    grid-column: 1 / -1;
}


