<div class="base-grid background-full-page">
  <div></div>
  <div class="grid-page-content">
    <div class="grid">
      
      <div class="grid-div-display-flex-center grid-div-divider-first-words">
        <hr class="hr-divider" />
      </div>
      <div
        class="grid-div-display-flex-center grid-div-header-portafolio min-height-4em font-size-1-5"
      >
        Portafolio
      </div>
      <div
        class="grid-div-display-flex-center grid-div-images-portafolio min-height-4em"
      >
        <img class="image-portafolio" src="assets/images/imagenTemporal1.jpg" />
      </div>
      <div
        class="grid-div-display-flex-center grid-div-images-portafolio min-height-4em"
      >
        <img class="image-portafolio" src="assets/images/imagenTemporal2.jpg" />
      </div>
      <div
        class="grid-div-display-flex-center grid-div-images-portafolio min-height-4em"
      >
        <img class="image-portafolio" src="assets/images/imagenTemporal3.jpg" />
      </div>
      <div class="grid-div-display-flex-center grid-div-button-portafolio">
        <button mat-stroked-button>Ver Mas Trabajos</button>
      </div>
      <div class="grid-div-display-flex-center grid-div-divider-portafolio">
        <hr class="hr-divider" />
      </div>
      <div
        class="grid-div-display-flex-center min-height-4em font-size-1-5 grid-div-header-blog"
      >
        Blog
      </div>
      <div
        class="grid-div-display-flex-center grid-div-image-blog min-height-4em"
      >
        <img class="image-blog" src="assets/images/imagenTemporal4.jpg" />
      </div>
      <div class="grid-div-display-flex-center grid-div-button-blog">
        <button mat-stroked-button>Leer Mas Articulos</button>
      </div>
    </div>
  </div>
  <div></div>
</div>
